@charset "UTF-8";
.servicesOffered .standardSection {
  padding: 50px 0;
  text-align: center;
}
.servicesOffered .standardSection .webIcon {
  width: 10%;
  display: inline-block;
  margin: 0 90px 30px 0px;
}
@media screen and (max-width: 991px) {
  .servicesOffered .standardSection .webIcon {
    margin: 0 50px 30px 0px;
  }
}
@media screen and (max-width: 480px) {
  .servicesOffered .standardSection .webIcon {
    width: 16%;
  }
}
.servicesOffered .standardSection .sectionHeading {
  width: auto;
  display: inline-block;
  margin: 0 25px 0 0;
}
@media screen and (max-width: 767px) {
  .servicesOffered .standardSection .sectionHeading {
    margin: 0 24px 40px 0;
  }
  .servicesOffered .standardSection .sectionHeading h3 {
    margin: 0 0 15px 0;
  }
}
.servicesOffered .standardSection .sectionHeading h3 {
  width: 100%;
  font-family: "poppinsmedium";
  margin: 0 0 20px 0;
}
.servicesOffered .standardSection .sectionHeading .baseButton {
  padding: 12px 60px;
  font-size: 14px;
  width: 100%;
}
@media only screen and (max-width: 575px) {
  .servicesOffered .standardSection .sectionHeading .baseButton {
    padding: 12px 48px;
  }
}
.servicesOffered .standardSection p {
  font-size: 14px;
  line-height: 24px;
  color: #777;
  text-align: left;
  font-family: "open_sansregular";
}

.aboutUs .productBanner {
  padding: 30px 0 60px 0;
  width: 100%;
}
.aboutUs .productBanner h2 {
  font-size: 26px;
  margin: 0 0 16px 0;
  font-family: "poppinsmedium";
}
.aboutUs .productBanner img.rightimg {
  float: right;
  width: 295px;
  margin: 0 0 0 28px;
}
@media (max-width: 575px) {
  .aboutUs .productBanner img.rightimg {
    width: 100%;
  }
}
.aboutUs .productBanner p {
  font-size: 14px;
  line-height: 24px;
  color: #777;
  margin: 0 0 10px;
  font-family: "open_sansregular";
}

.contact .textWigits {
  padding: 50px 0;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 767px) {
  .contact .textWigits {
    flex-direction: column;
    align-items: center;
  }
  .contact .textWigits .callus {
    width: 100% !important;
  }
  .contact .textWigits .callus:first-child {
    border-right: none !important;
    border-bottom: 1px solid rgb(220, 220, 220);
  }
}
.contact .textWigits .callus {
  display: flex;
  padding: 15px;
  text-align: center;
  flex-direction: column;
  align-items: center;
  width: 50%;
}
.contact .textWigits .callus:first-child {
  border-right: 1px solid rgb(220, 220, 220);
}
.contact .textWigits .callus img {
  width: auto;
}
.contact .textWigits .callus h4 {
  margin: 20px 0 16px;
  font-family: "poppinsmedium";
  color: #2d2d2d;
}
.contact .textWigits .callus p {
  line-height: 20px;
  color: #464547;
  margin: 0 0 10px;
}
.contact .textWigits .callus .baseButton {
  padding: 12px 35px;
  font-size: 13px;
  font-family: "open_sansregular";
}
.contact .question {
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 4px;
  background: #fff;
  margin-bottom: 30px;
}
.contact .question .contactFeild {
  margin: 0 0 18px 0;
}
.contact .question .contactFeild h2 {
  color: rgb(0, 0, 0);
  font-size: 44px;
  line-height: normal;
  margin-bottom: 10px;
  margin-top: 16px;
  font-family: "poppinsmedium";
  text-transform: uppercase;
}
@media screen and (max-width: 1199px) {
  .contact .question .contactFeild h2 {
    font-size: 35px;
  }
}
@media screen and (max-width: 991px) {
  .contact .question .contactFeild h2 {
    font-size: 28px;
  }
}
@media screen and (max-width: 767px) {
  .contact .question .contactFeild h2 {
    font-size: 24px;
  }
}
@media screen and (max-width: 575px) {
  .contact .question .contactFeild h2 {
    font-size: 20px;
  }
}
.contact .question .contactFeild h3 {
  font-family: "poppinsmedium";
  text-transform: uppercase;
  color: rgb(70, 69, 71);
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 35px;
}
@media screen and (max-width: 1199px) {
  .contact .question .contactFeild h3 {
    font-size: 18px;
    line-height: 14px;
    margin-bottom: 13px;
    margin-top: 0;
  }
}
@media screen and (max-width: 575px) {
  .contact .question .contactFeild h3 {
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 13px;
    margin-top: 0;
  }
}
.contact .question .contactFeild h5 {
  color: #f15a24;
  font-family: "open_sansbold";
  margin: 0 0 7px 0;
}
.contact .question .contactFeild input {
  padding: 5px;
  font-size: 15px;
  width: 100%;
  background-color: #f8f8f8;
  border: 2px solid #ddd;
  border-radius: 4px;
  height: 44px;
  color: #000;
  font-size: 15px;
}
.contact .question .contactFeild select {
  font-size: 15px;
  width: 100%;
  background-color: #f8f8f8;
  border: 2px solid #ddd;
  border-radius: 4px;
  height: 44px;
  color: #666 !important;
  padding: 8px 15px;
  font-size: 15px;
}
.contact .question .contactFeild textarea {
  font-size: 15px;
  width: 100%;
  background-color: #f8f8f8;
  border: 2px solid #ddd;
  border-radius: 4px;
  color: #666 !important;
  font-size: 15px;
  resize: none;
  padding: 5px;
  height: 200px;
}
.contact .question .contactFeild textarea:focus {
  outline: none;
}
.contact .question .contactFeild .baseButton {
  width: 200px;
}

.dataRecoverydelta .productData {
  padding: 50px 0;
}
.dataRecoverydelta .productData a {
  color: #aaa;
}
.dataRecoverydelta .productData a:hover {
  color: #f15a24;
}
.dataRecoverydelta .productData img.rightimg {
  float: right;
  width: 295px;
  margin: 0 0 0 28px;
}
@media screen and (max-width: 767px) {
  .dataRecoverydelta .productData img.rightimg {
    width: 100%;
    margin-bottom: 10px;
  }
}
.dataRecoverydelta .productData h5 {
  line-height: 26px;
  color: #777;
  font-family: "open_sansbold";
}
.dataRecoverydelta .productData p {
  line-height: 24px;
  color: #777;
  margin: 0 0 10px;
}
@media screen and (max-width: 480px) {
  .dataRecoverydelta .productData p {
    text-align: justify;
    line-height: 26px;
  }
}
.dataRecoverydelta .productData h2 {
  font-size: 26px;
  margin: 0 0 16px 0;
  font-family: "open_sansbold";
  line-height: 26px;
}
@media screen and (max-width: 767px) {
  .dataRecoverydelta .productData h2 {
    font-size: 22px;
  }
}
.dataRecoverydelta .productData h3 {
  font-size: 18px;
  line-height: 26px;
  font-family: "poppinsmedium";
  margin-top: 20px;
  margin-bottom: 10px;
}
.dataRecoverydelta .productData h4 {
  line-height: 26px;
  color: #2d2d2d;
  text-transform: uppercase;
  font-family: "poppinsmedium";
  margin-top: 10px;
  margin-bottom: 10px;
}
.dataRecoverydelta .productData .listing {
  margin: 0 0 12px 0;
}
.dataRecoverydelta .productData .listing ul {
  padding: 0px 0 0 38px;
  list-style: none;
  margin: 0;
}
.dataRecoverydelta .productData .listing ul li {
  font-size: 14px;
  line-height: 28px;
  font-family: "open_sansregular";
}
.dataRecoverydelta .productData .listing ul li a::before {
  content: "•";
  color: #aaa;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
.dataRecoverydelta .productData .listing ul li::before {
  content: "•";
  color: #f15a24;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
.dataRecoverydelta .productData .baseButton {
  padding: 6px 12px;
}